body {
    background-color: antiquewhite;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    
}
.single-line-para {
   box-sizing: border-box;
   background-color:lightcyan;

}
.user{
    
    margin: auto;
    float: left;
    background-color: lightcyan;
    
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

@media (min-width 960px) {
    .container {
background-image: url(https://wallpaperaccess.com/full/266471.jpg);
    margin: 20px auto;
    padding: 20px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;}
}

}


header {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.section h2 {
    color: #333333;
    border-bottom: 2px solid #333333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.section p {
    margin-bottom: 10px;
}

.section ul {
    list-style-type: none;
    padding-left: 0;
}

.section ul li {
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}